# Bash functions

## macOS

finder() {
    if [[ $1 == "hide" ]]; then
        defaults write com.apple.finder AppleShowAllFiles NO && killall Finder
    else
        defaults write com.apple.finder AppleShowAllFiles YES && killall Finder
    fi
}

fileshow() {
  sudo chflags nohidden ${@}
}
filehide() {
  sudo chflags hidden ${@}
}


edit() {
    if [ "$#" -eq 0 ]; then
      subl .
    else
      subl ${@}
    fi
}

## Utils

function killport() {
  lsof -i TCP:$1 | grep LISTEN | awk '{print $2}' | xargs kill -9
}

# Removes a symlink and replaces it with the original file
function unlink() {
  if [ ! -L "$1" ]; then
    echo "Please provide a symlink."
  else
    ORIGINAL=$(readlink "$1")
    if [ -f "$ORIGINAL" ]; then
      rm "$1"
      cp "$ORIGINAL" "$1"
      echo "Replaced by: $ORIGINAL"
    else
      echo "Error when reading: $ORIGINAL"
    fi
  fi
}

# Replaces all symlinks in the directory with their original files
function unlinkdir() {
  if [ ! -d "$1" ]; then
    echo "Please provide a directory."
  else
    output=$(find $1 -type l -print | awk '{print $0}')
    while read file; do
      if [ -L "$file" ]; then
        echo "File: $file"
        unlink "$file"
        echo ""
      fi
    done <<< "$output"
  fi
}

## Webserver

webserver() {
  case $1 in
    "start")
      mysql.server start
      sudo apachectl start ;;
    "stop")
      mysql.server stop
      sudo apachectl -k stop ;;
    "restart")
      mysql.server restart
      sudo apachectl -k restart ;;
    "config")
      sudo subl /usr/local/etc/httpd/httpd.conf ;;
    "logs")
      tail -f /usr/local/var/log/httpd/error_log ;;
    "vhosts")
      sudo subl /usr/local/etc/httpd/extra/httpd-vhosts.conf /etc/hosts ;;
    *)
      echo "usage: webserver start | stop | restart | config | vhosts | logs" ;;
  esac
}

webdatabase() {
  case $1 in
    "start")
      mysql.server start ;;
    "stop")
      mysql.server stop ;;
    *)
      echo "usage: webdatabase start | stop";;
  esac
}

## Dotfiles

dotfiles() {
  case $1 in
    "backup")
      cd $DOTFILES
      ./dotfiles.sh backup
      ;;
    "bootstrap")
      cd $DOTFILES
      ./dotfiles.sh bootstrap
      ;;
    *)
      echo "usage: dotfiles backup | bootstrap"
      ;;
  esac
}
