"*":
  core:
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
  "exception-reporting":
    userId: "fe949da8-8184-a355-12eb-64e0e37c2344"
  "file-icons":
    coloured: false
